{% extends 'base_menu.html' %}
{% load static widget_tweaks %}

{% block title %}Update Contact{% endblock %}

{% block header %}Update Contact{% endblock %}

{% block main_content %}
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% for field in form %}

            <div class="row">
            <div class="form-group col-md-4  {% if field.errors %}has-error{% endif %}">
                <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <span class="text-danger">*</span>
                {{ field|add_class:'form-control' }}
                <div class="help-block with-errors">
                    {% for error in field.errors %}{{ error }}<br>{% endfor %}
                </div>
            </div>
        </div>

        {% endfor %}
        <div class="row">
            <div class="form-group col-md-12">
                <a href="{% url 'contacts:contact_list' %}" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
{% endblock %}

